body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100px;
}

#logo1 {
  margin-top: 30px;
  width: 70px;
  height: 70px;
}

#text {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(7, 7, 64);
}

#contact_us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact_us p {
  margin: 0;
  margin-left: 150px;
}

#text1 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: navy;
  text-decoration: underline;
  padding-left: 15px;
}

#text2 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: navy;
}

#icons {
  display: flex;
  gap: 20px;
}

#icons img {
  width: 20px;
  height: 20px;
}

#try_for_free_button {
  margin-left: 20px;
}

#button_1 {
  height: 45px;
  width: 130px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#logo2 {
  width: 100px;
  height: 30px;
  padding-top: 6px;
}

#textbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;
  gap: 35px;
  margin-top: 0;
  position: relative;
  top: -5px;
}

#text3 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#text4 {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

#main_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#main {
  position: relative;
  width: 100%;
  height: auto;
  top: -5px;
}

#left, #right {
  position: absolute;
  color: white; /* Make sure the text is visible over the image */
}

#left {
  top: 1%;
  left: 10%;
  width: 30%;
}

#right {
  top: 20%;
  right: 10%;
  width: 30%;
}

#button_2{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0070d2;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 7px;
}

#button_3{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #0070d2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 3px solid #0070d2;
  border-radius: 7px;
}

#buttons{
  display: flex;
  gap: 25px;
}

#right iframe {
  border-radius: 15px; /* Round the corners */
  height: 320px; 
  width: 530px;
}

#text5{
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(7, 7, 64);
  text-align: center;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

#text6{
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: rgb(36, 36, 89);
  text-align: center;
  text-align: left;
}

#chatButton {
  position: fixed; /* Keep it fixed to the viewport */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  padding: 10px 20px; /* Padding for the button */
  background-color: #0070d2; 
  color: white; 
  border: none; 
  border-radius: 10px; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer; 
  z-index: 1000; /* Ensure it is above other elements */
  height: 40px;
  width: 130px;
}

#chatButton:hover {
  background-color: #005bb5; /* Darker color on hover */
}

#mid_text{
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(7, 7, 64);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  top: -5px;
}

#four_card{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: 80px;
  margin-right: 80px;
}

#card1, #card2, #card3, #card4{
  /* border: 2px solid black; */
  border-radius: 10px;
  height: 350px;
  width: 300px;
  background-color: white;
  container: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 10px black; */
}

#picture{
  border-radius: 10px;
  height: 220px;
  width: 300px;
  object-fit: cover;
}

#text7{
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(7, 7, 64);
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
}

#text8{
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: rgb(36, 36, 89);
  text-align: left;
  padding-left: 10px;
}

#bottom_img{
 
    width: 100%;
    height: auto;
    object-fit: cover;  }


    #explore{
      position: relative;
    }

#text9{
  position : absolute;
  font-size: 25px;
  text-align: center;
  background-color: white;
  color: #0070d2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 3px solid #0061b7;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

